[submodule "ZAPDTR"]
	path = ZAPDTR
	url = https://github.com/HarbourMasters/ZAPDTR.git
[submodule "OTRExporter"]
	path = OTRExporter
	url = https://github.com/HarbourMasters/OTRExporter.git
[submodule "reshade"]
	path = reshade
	url = https://github.com/crosire/reshade.git
[submodule "reshade-shaders"]
	path = reshade-shaders
	url = https://github.com/crosire/reshade-shaders.git
